@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<Shopbannoithat.Models.Product>

<h2 class="mb-4">Danh sách sản phẩm</h2>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4">

            <div class="card h-100 shadow-sm">

                <img src="~/images/@item.Image"
                     class="card-img-top"
                     style="height:220px; object-fit:cover;">

                <div class="card-body d-flex flex-column">

                    <h5 class="card-title">
                        @item.Name
                    </h5>

                    <p class="text-danger fw-bold">
                        @item.Price?.ToString("N0") VNĐ
                    </p>

                    <div class="mt-auto">

                         <a asp-controller="Product"
                                   asp-action="Details"
                                   asp-route-id="@item.Id"
                                   class="btn btn-info">
                                Xem chi tiết
                         </a>
                        

                        @if (Context.Session.GetString("UserEmail") != null)
                        {
                            @if (item.Quantity > 0)
                            {
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" class="btn btn-success">
                                    Thêm giỏ
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-danger" disabled>Hết hàng</button>
                            }
                        }
                        else
                        {
                            <a asp-controller="Auth"
                               asp-action="Login"
                               class="btn btn-warning btn-sm">
                                Đăng nhập để mua
                            </a>
                        }

                        @if (Context.Session.GetString("UserEmail") != null)
                        {
                            <button class="btn btn-danger addWishlist"
                                    data-id="@item.Id">
                                ❤ Wishlist
                            </button>
                        }
                        else
                        {
                            <a asp-controller="Auth"
                               asp-action="Login"
                               class="btn btn-danger">
                                ❤ Wishlist
                            </a>
                        }

                    </div>

                </div>

            </div>

        </div>
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(document).on("click", ".addWishlist", function () {

            var productId = $(this).data("id");

            $.post("/Wishlist/Add/" + productId, function (data) {

                if (data.success == false) {
                    window.location = "/Auth/Login";
                }
                else {
                    window.location = "/Wishlist"; // chuyển sang trang wishlist
                }

            });

        });

    </script>

</div>